<h1>Users/index=Home</h1>
<div class="container">
    <div class="row">
        <% @posts.each do |post| %>
        <div class="col-10 ">
            <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image(200,200) %>
            <% end %>
        </div>
        <% end %>
        <%= paginate @posts %>
    </div>
</div>
