
<div class="container">
    <div class="row">
        <% @following_posts.each do |post| %>
        <div class="col-10 ">
            <%= post.user.name %>
            <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image(200,200) %>
            <% end %>
        </div>
        <% end %>
        <%= paginate  @following_posts %>
    </div>
</div>

