<h1>topページ</h1>
<div class="container">
    <div class="row">
        <div class="mx-auto">
            <div class="col-auto mx-auto py-4">
                <div class = "top-image text-left ml-4">
                    <%= image_tag'top.jpg', size:"625x325" ,style:"position: relative;" %>
                    <p style="position:absolute; top:60px; left:100px; color:#000; font-family: Comic Sans MS; font-size:60px;">
                    - Adan -</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 py-4">
            <%= image_tag 'topsub1.jpg', size: "300x200" %>
            <p class="text-center">
                いいね！<i class="fas fa-heart"></i>やコメントをして<br>
                気軽にたくさんの人と<br>
                コミュニケーション！</p>
        </div>
        <div class="col-md-4 py-4">
            <%= image_tag 'topsub2.jpg', size: "300x200" %>
            <p class="text-center">
                フォローをして<br>
                たくさんの友達を作ろう</p>
        </div>
        <div class="col-md-4 py-4">
            <%= image_tag 'topsub.jpg', size: "300x200" %>
        </div>
    </div>
</div>
