<!--投稿一覧-->
<div class="container">
    <div class="row">
        <% @posts.each do |post| %>
            <div class="col-md-3 py-3">
                <%= link_to post_path(post.id), 'data-no-turbolinks' => true do %>
                <%= image_tag post.image.variant(resize: "200x200!", gravity: "center") %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<%= paginate @posts %>
    <%#= image_tag post_image.get_image %>
<!--.variant(resize: "200x200!", gravity: "center")-->