  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
          <%#= image_tag 'no1.png', size: "50×50" %> <!--ロゴにするか文字にするか-->
        <a class="navbar-brand p-3" href="/"></a>　<!--いるのか？-->
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
              
         <% if user_signed_in? %>
         <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
         </li>
         <% else %>
         <li>
          <%= link_to "新規登録", new_user_registration_path %>
         </li>
         <li>
          <%= link_to "ログイン", new_user_session_path %>
         </li>
         <% end %>
              
          </ul>
        </div>
      </div>
    </nav>
  </header>